# from my.telegram.org/apps
API_ID=
API_HASH=

# from @BotFather on telegram
BOT_TOKEN=
LOGGER_ID=

OWNER_ID=

# pyrogram session from @StringFatherBot on telegram
SESSION=

# Local API Server (optional)
# API_SERVER=http://localhost:8081/
